<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>[%level] %logger{45} | %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="ch.qos.logback" level="WARN" />
  <logger name="info.freelibrary.jiiify.util.ImageUtils" level="WARN"/>

  <root level="${logging.level}">
    <appender-ref ref="STDOUT" />
  </root>

</configuration>
